body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.vidcanvas {
  width: 640px;
  height: 480px;
}

.snapshot {
  width: 640px;
  height: 480px;
}
