body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.vidcanvas {
  width: 640px;
  height: 480px;
}

.snapshot {
  width: 640px;
  height: 480px;
}

.center {
    margin: auto;
    width: 50%;
    /*border: 3px solid black;*/
    /*border-width: 650px;*/
    padding: 10px;
    right: 10px
}

.centerNB {
    margin: auto;
    width: 50%;
    /*border: 3px solid black;*/
    padding: 10px;
}

.card {
  width: 640px;
  /*height: 480px;*/
  border-radius: 2px;
  border: 2px solid #538794;
  box-shadow: 4px 4px 14px black;
}

.card-content {
  background-color: #CCDCD9;
  border-radius: 0 0 2px 2px;

}

.card-action {
  background-color: #DFE8E3;
  cursor: pointer;
}

.modal-content {
  border-radius:10px 10px 10px 10px;
}

/*.captureButton {
  cursor: pointer;
}*/

body.wait {
  cursor: progress;
}
